body {
    margin: 10px;
    font-family: 'Abel';
    text-align: center;
    width: 300px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px;
    grid-gap: 45px;
    padding-top: 40px;
    padding-left: 40px;
  }
  
  .outer {
    color: white;
    font-size: 10px;
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    vertical-align: bottom;
  }

  .player1 {
    border-radius: 50%;
    background: yellow;
    width: 40px;
    height: 40px;
  }

  .player2 {
    border-radius: 50%;
    background: red;
    width: 40px;
    height: 40px;
  }

  .empty {
    border-radius: 50%;
    background: gainsboro;
    width: 40px;
    height: 40px;
  }